<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="irdenPage" class="no-js" ng-controller="TranslateController"> <!--<![endif]-->
<header>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Irden fire show web page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <!--inject:css-->
  <!--endinject-->
</header>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="lava-scroll">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">IRDEN</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse" aria-expanded="true">
        <ul class="nav nav-pills navbar-right">
          <li><a ng-click="changeLanguage('ru')" translate="menu.BUTTON_TEXT_RU" class="menu_links btn-default"></a></li>
          <li><a ng-click="changeLanguage('en')" translate="menu.BUTTON_TEXT_EN" class="menu_links btn-default"></a></li>
        </ul>

        <form class="navbar-form navbar-right" ng-submit="login(user.username, user.password)" ng-show="weInSystem == false">
          <div class="form-group">
            <label class="menu_label" translate="menu.LABEL_USERNAME">Username:</label>
            <input type="text" ng-model="user.username" class="form-control"
                   placeholder="{{'menu.PLACEHOLDER_USERNAME' | translate}}"
            />
          </div>

          <div class="form-group">
            <label class="menu_label" translate="menu.LABEL_PASSWORD">Password:</label>
            <input type="password" ng-model="user.password" class="form-control"
                   placeholder="{{'menu.PLACEHOLDER_PASSWORD' | translate}}"
            />
          </div>

          <button type="submit" class="btn btn-success" translate="menu.BUTTON_LOGIN"
                  ng-disabled="user.username == null || user.password == null"
          >Login</button>
        </form>

        <ul class="nav nav-pills navbar-right" ng-show="weInSystem == true">
          <li class="navbar-text">{{'menu.TEXT_GREETINGS' | translate}} {{customer.user_data.client_name}}</li>
          <li><button type="button" class="btn btn-success"
                ng-click="logout()" translate="menu.BUTTON_LOGOUT">Logout
              </button></li>
        </ul>

        <ul class="nav nav-pills navbar-left">
          <!--li><a href="main" class="menu_links" translate="menu.MENU_MAIN"></a></li-->
          <li><a href="price" class="menu_links" translate="menu.MENU_PRICE"></a></li>
          <li><a href="about" class="menu_links" translate="menu.MENU_ABOUT"></a></li>
          <li><a href="feedback" class="menu_links" translate="menu.MENU_FEEDBACKS"></a></li>
        </ul>
      </div>
    </div>
  </nav>
<div id="body">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <div class="container">
    <hr/>
    <footer>
          <p>© the Irden Team 2015</p>
    </footer>
  </div>
  <!--inject:js-->
  <!--endinject-->
</div>
</html>
