/* app css stylesheet */
nav .nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

nav .nav .menu_links{
  padding-bottom: 15px;
  padding-top: 15px;
}

 .btn {
   overflow: hidden;
 }

 .content {
   position: relative;
   transition: top 0.3s;
 }

 .top { top: 0px; }

 .bottom { top: 100px; }
 .btn:hover .bottom {top: 0px;}

 #greetings {
   color: darkslateblue;
   background: url(/assets/fire1.gif);
 }

 #lava-scroll {
   width: 100%;
   height: auto;
   background: url(/assets/all.png) repeat-y;
   -webkit-animation: backgroundScroll 20s linear infinite;
   animation: backgroundScroll 20s linear infinite; /* Adjust timing here according to speed required */
  }

  @-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1600px 0;}
  }

  @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1600px 0;}
  }
