  /* app  css stylesheet */
  nav .nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
  }

  .table-hover tbody tr:hover td
   {
       background-color: rgba(204, 153, 102, 0.9);
       transition: background 0.5s;
  }

  nav .nav .menu_links{
    color: white;
    background-color: transparent;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  label.menu_label{
    color: white;
  }

  .nav>li>a:focus, .nav>li>a:hover {
      text-decoration: none;
      background-color: #eee;
      transition: background 0.5s;      
      color: black;
  }

 .btn {
   overflow: hidden;
 }

 .content {
   position: relative;
   transition: top 0.3s;
 }

 .top { top: 0px; }

 .bottom { top: 100px; }
 .btn:hover .bottom {top: 0px;}

  .well.aplha6, .jumbotron.aplha6, .well.well-lg.alpha6{
   color: #FFFFFF;
   background: rgba(192, 192, 192, 0.6);
 }



 .well.login {
   color: #000000;
 }

 #body {
   color: #FFFFFF;
   background: url(/assets/images/fire2.gif);
 }

 #lava-scroll {
   width: 100%;
   height: auto;
   background: url(/assets/images/all.png) repeat-y;
   -webkit-animation: backgroundScroll 20s linear infinite;
   animation: backgroundScroll 40s linear infinite; /* Adjust timing here according to speed required */
  }

  @-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1600px 0;}
  }

  @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1600px 0;}
  }
