<div class="container" style="margin-top: 50px;">
  <div class="row">
    <article>
      <header>
        <h1>Here you can confirm your order</h1>
      </header>
        <p>You choose this programm:
          <article class="well well-lg">
            <header>
              <h4>Name: {{data.name}}</h4>
            </header>
            <p>
              Cost: {{data.cost}}$
            </p>
            <p>
              Description: {{data.description}}
            </p>
          </article>
        </p>
        <p>
          <div novalidate class="form well" id="clientForm">
            <div class="row">
              <label for="name">Name:</label>
              <input type="text" ng-model="customer.client_name" class="form-control" id="name"/>
              <!--input type="hidden" ng-model="customer.program" value="{{data.id}}"/-->
            </div>

            <div class="row">
              <label for="phone">Phone number:</label>
              <input type="text" ng-model="customer.contact_number" class="form-control" name="phone"/>
            </div>

            <div class="row">
              <label for="email">Email:</label>
              <input type="email" ng-model="customer.email" required
                      class="form-control" name="email"/>
              <span style="color:red" ng-show="clientForm.email.$dirty && clientForm.email.$invalid">
                <span ng-show="clientForm.email.$error.required">Email is required.</span>
                <span ng-show="clientForm.email.$error.email">Invalid email address.</span>
              </span>
            </div>

            <div class="row">
              <label for="desired_date">Desired date:</label>
              <input type="date" name="desired_date" class="form-control" uib-datepicker-popup ng-model="customer.desired_date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            </div>

            <div class="row">
              <label for="desired_time">Desired time:</label>
              <uib-timepicker ng-model="customer.desired_date" name="desired_time"
                              hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
              </uib-timepicker>
            </div>

            <hr/>
              <button type="submit" ng-click="post()" class="btn btn-primary"
              ng-disabled="clientForm.phone.$dirty && clientForm.phone.$invalid ||
  clientForm.email.$dirty && clientForm.email.$invalid">Post</button>
          </div>
        </p>
    </article>
  </div>
</div>
