<div class="container" style="margin-top: 50px;">

  <div class="row">
    <article>
      <header>
        <h1>{{'confirmation.CONFIRMATION_MAIN_HEADER' | translate}}</h1>
      </header>
        <p>{{'confirmation.CONFIRMATION_CHOOSEN_HEADER' | translate}}
          <article class="well well-lg aplha6">
            <header>
              <h4>{{'confirmation.CONFIRMATION_CHOOSEN_NAME' | translate}} {{confirming_order.name}}</h4>
            </header>
            <p>
              {{'confirmation.CONFIRMATION_CHOOSEN_COST' | translate}} {{confirming_order.cost}}$
            </p>
            <p>
              {{'confirmation.CONFIRMATION_CHOOSEN_DESCRIPTION' | translate}} {{confirming_order.description}}
            </p>
          </article>
        </p>
        <p>
          <form class="form form-horizontal well well-lg aplha6" name="clientform" novalidate>
            <div class="control-group" ng-class="{ 'has-error' : clientform.username.$invalid &&
                                                                (!clientform.username.$pristine || !clientform.username.$dirty)
                                                              }">
              <label for="name" class="control-label">{{'confirmation.CONFIRMATION_FORM_NAME' | translate}}</label>
              <div class="controls">
                <input type="text" ng-model="confirmCtrl.customer.user_data.client_name" class="form-control" name="username" required
                  placeholder="{{'confirmation.CONFIRMATION_FORM_NAME_PLACEHOLDER' | translate}}"
                  uib-tooltip="{{'confirmation.CONFIRMATION_FORM_NAME_TOOLTIP' | translate}}"
                  tooltip-placement="top"
                  tooltip-trigger="mouseenter"
                  tooltip-enable="!confirmCtrl.customer.user_data.client_name"
                />
                  <div class="help-inline">
                    <p ng-show="clientform.username.$invalid && !clientform.username.$pristine" class="help-block">
                      {{'confirmation.CONFIRMATION_FORM_NAME_REQUIRED' | translate}}</p>
                  </div>
              </div>
            </div>

            <div class="control-group"  ng-class="{ 'has-error' : clientform.phone.$invalid &&
                                                                (!clientform.phone.$pristine || !clientform.phone.$dirty)
                                                              }">
              <label for="phone" class="control-label">{{'confirmation.CONFIRMATION_FORM_PHONE' | translate}}</label>
              <div class="controls">
                <input type="text" ng-model="confirmCtrl.customer.user_data.contact_number" class="form-control" name="phone" required
                        placeholder="{{'confirmation.CONFIRMATION_FORM_PHONE_PLACEHOLDER' | translate}}"
                        uib-tooltip="{{'confirmation.CONFIRMATION_FORM_PHONE_TOOLTIP' | translate}}"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="!confirmCtrl.customer.user_data.contact_number"
                        ui-mask="+999 (99) 999-99-99"
                        ui-mask-placeholder ui-mask-placeholder-char="_"
                />
                <div class="help-inline">
                  <p ng-show="clientform.phone.$invalid && !clientform.phone.$pristine" class="help-block">
                    {{'confirmation.CONFIRMATION_FORM_PHONE_REQUIRED' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="control-group" ng-class="{ 'has-error' : clientform.email.$invalid &&
                                                                (!clientform.email.$pristine || !clientform.email.$dirty)
                                                              }">
              <label for="email" class="control-label">{{'confirmation.CONFIRMATION_FORM_EMAIL' | translate}}</label>
              <div class="controls">
                <input type="email" ng-model="confirmCtrl.customer.user_data.email" required
                        class="form-control" name="email"
                        placeholder="{{'confirmation.CONFIRMATION_FORM_EMAIL_PLACEHOLDER' | translate}}"
                        uib-tooltip="{{'confirmation.CONFIRMATION_FORM_EMAIL_TOOLTIP' | translate}}"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="!confirmCtrl.customer.user_data.email"
                        />
                <div class="help-inline">
                      <p ng-show="clientform.email.$invalid && !clientform.email.$pristine" class="help-block">
                        {{'confirmation.CONFIRMATION_FORM_EMAIL_WRONG' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label for="desired_date" class="control-label">{{'confirmation.CONFIRMATION_FORM_DATE' | translate}}</label>
              <div class="input-group">
                <input type="text" name="desired_date" class="form-control"
                        ng-model="confirmCtrl.customer.order.desired_date" is-open="confirmCtrl.calendar_status.opened"
                        min-date="confirmCtrl.minDate" max-date="confirmCtrl.maxDate"
                        datepicker-options="confirmCtrl.dateOptions"
                        ng-required="true"
                        placeholder="{{'confirmation.CONFIRMATION_FORM_DATE_PLACEHOLDER' | translate}}"
                        uib-tooltip="{{'confirmation.CONFIRMATION_FORM_DATE_TOOLTIP' | translate}}"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="!confirmCtrl.customer.order.desired_date"
                        uib-datepicker-popup="shortDate"
                        current-text="{{'confirmation.CONFIRMATION_FORM_DATE_CURRENT' | translate}}"
                        clear-text="{{'confirmation.CONFIRMATION_FORM_DATE_CLEAR' | translate}}"
                        close-text="{{'confirmation.CONFIRMATION_FORM_DATE_CLOSE' | translate}}"
                        shortcut-propagation = "true"
                        />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="confirmCtrl.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="control-group">
              <label for="desired_time" class="control-label">{{'confirmation.CONFIRMATION_FORM_TIME' | translate}}</label>
              <div class="controls">
                <uib-timepicker ng-model="confirmCtrl.customer.order.desired_date" name="desired_time"
                                hour-step="confirmCtrl.hstep" minute-step="confirmCtrl.mstep" show-meridian="confirmCtrl.ismeridian">
                </uib-timepicker>
              </div>
            </div>
            <div class="form-group" ng-show="confirmCtrl.customer.user_data.pk == null">
              <label class="control-label" translate="final.LABEL_REGISTER_CHECKBOX">Regisret me:</label>
              <input type="checkbox" class="form-control" ng-init="confirmCtrl.isCollapsed = true" ng-click="confirmCtrl.isCollapsed = !confirmCtrl.isCollapsed"/>
            </div>
              <div uib-collapse="confirmCtrl.isCollapsed" class="well well-lg aplha6">
                  <div class="form-group" >
                    <label class="menu_label" translate="final.LABEL_USERNAME">Username:</label>
                    <input type="text" ng-model="confirmCtrl.user.username" class="form-control"
                           placeholder="{{'final.PLACEHOLDER_USERNAME' | translate}}"
                    />
                  </div>

                  <div class="form-group">
                    <label class="menu_label" translate="final.LABEL_PASSWORD">Password:</label>
                    <input type="password" ng-model="confirmCtrl.user.password" class="form-control"
                           placeholder="{{'final.PLACEHOLDER_PASSWORD' | translate}}"
                    />
                  </div>

                  <div class="form-group">
                    <label class="menu_label" translate="final.LABEL_PASSWORD_REPEAT">Password:</label>
                    <input type="password" ng-model="confirmCtrl.user.password2" class="form-control"
                           placeholder="{{'final.PLACEHOLDER_PASSWORD_REPEAT' | translate}}"
                    />
                  </div>
                </div>
            <hr/>
              <button type="submit"
              ng-click="confirmCtrl.post(
                             confirmCtrl.customer.user_data.client_name, confirmCtrl.customer.user_data.contact_number,
                             confirmCtrl.customer.user_data.email, confirmCtrl.customer.user_data.pk,
                             confirmCtrl.user.username, confirmCtrl.user.password,
                             confirmCtrl.customer.order
                            )"
              class="btn btn-primary"
              ng-disabled="clientform.$invalid || confirmCtrl.in_progress ||
                           ((confirmCtrl.user.password != '') &&
                            confirmCtrl.user.password != confirmCtrl.user.password2)">
                           {{'confirmation.CONFIRMATION_FORM_POST' | translate}}
              </button>
    </form>
        </p>
    </article>
  </div>
</div>
