<div class="container" style="margin-top: 50px;">

  <div class="row">
    <article>
      <header>
        <h1>{{'confirmation.CONFIRMATION_MAIN_HEADER' | translate}}</h1>
      </header>
        <p>{{'confirmation.CONFIRMATION_CHOOSEN_HEADER' | translate}}
          <article class="well well-lg aplha6">
            <header>
              <h4>{{'confirmation.CONFIRMATION_CHOOSEN_NAME' | translate}} {{data.name}}</h4>
            </header>
            <p>
              {{'confirmation.CONFIRMATION_CHOOSEN_COST' | translate}} {{data.cost}}$
            </p>
            <p>
              {{'confirmation.CONFIRMATION_CHOOSEN_DESCRIPTION' | translate}} {{data.description}}
            </p>
          </article>
        </p>
        <p>
          <form class="form form-horizontal" name="clientform" novalidate>
            <div class="control-group" ng-class="{ 'has-error' : clientform.username.$invalid &&
                                                                (!clientform.username.$pristine || !clientform.username.$dirty)
                                                              }">
              <label for="name" class="control-label">{{'confirmation.CONFIRMATION_FORM_NAME' | translate}}</label>
              <div class="controls">
                <input type="text" ng-model="customer.client_name" class="form-control" name="username" required
                  placeholder="{{'confirmation.CONFIRMATION_FORM_NAME_PLACEHOLDER' | translate}}"
                  uib-tooltip="{{'confirmation.CONFIRMATION_FORM_NAME_TOOLTIP' | translate}}"
                  tooltip-placement="top"
                  tooltip-trigger="mouseenter"
                  tooltip-enable="!customer.client_name"
                />
                  <div class="help-inline">
                    <p ng-show="clientform.username.$invalid && !clientform.username.$pristine" class="help-block">
                      {{'confirmation.CONFIRMATION_FORM_NAME_REQUIRED' | translate}}</p>
                  </div>
              </div>
            </div>

            <div class="control-group"  ng-class="{ 'has-error' : clientform.phone.$invalid &&
                                                                (!clientform.phone.$pristine || !clientform.phone.$dirty)
                                                              }">
              <label for="phone" class="control-label">{{'confirmation.CONFIRMATION_FORM_PHONE' | translate}}</label>
              <div class="controls">
                <input type="text" ng-model="customer.contact_number" class="form-control" name="phone" required
                        placeholder="{{'confirmation.CONFIRMATION_FORM_PHONE_PLACEHOLDER' | translate}}"
                        uib-tooltip="{{'confirmation.CONFIRMATION_FORM_PHONE_TOOLTIP' | translate}}"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="!customer.contact_number"
                />
                <div class="help-inline">
                  <p ng-show="clientform.phone.$invalid && !clientform.phone.$pristine" class="help-block">
                    {{'confirmation.CONFIRMATION_FORM_PHONE_REQUIRED' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="control-group" ng-class="{ 'has-error' : clientform.email.$invalid &&
                                                                (!clientform.email.$pristine || !clientform.email.$dirty)
                                                              }">
              <label for="email" class="control-label">{{'confirmation.CONFIRMATION_FORM_EMAIL' | translate}}</label>
              <div class="controls">
                <input type="email" ng-model="customer.email" required
                        class="form-control" name="email"
                        placeholder="{{'confirmation.CONFIRMATION_FORM_EMAIL_PLACEHOLDER' | translate}}"
                        uib-tooltip="{{'confirmation.CONFIRMATION_FORM_EMAIL_TOOLTIP' | translate}}"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="!customer.email"
                        />
                <div class="help-inline">
                      <p ng-show="clientform.email.$invalid && !clientform.email.$pristine" class="help-block">
                        {{'confirmation.CONFIRMATION_FORM_EMAIL_WRONG' | translate}}</p>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label for="desired_date" class="control-label">{{'confirmation.CONFIRMATION_FORM_DATE' | translate}}</label>
              <div class="controls">
                <input type="date" name="desired_date" class="form-control"
                        uib-datepicker-popup ng-model="customer.desired_date" is-open="status.opened"
                        min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close"
                        placeholder="{{'confirmation.CONFIRMATION_FORM_DATE_PLACEHOLDER' | translate}}"
                        uib-tooltip="{{'confirmation.CONFIRMATION_FORM_DATE_TOOLTIP' | translate}}"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="!customer.desired_date"
                        />
              </div>
            </div>
            <div class="control-group">
              <label for="desired_time" class="control-label">{{'confirmation.CONFIRMATION_FORM_TIME' | translate}}</label>
              <div class="controls">
                <uib-timepicker ng-model="customer.desired_date" name="desired_time"
                                hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
                </uib-timepicker>
              </div>
            </div>
            <hr/>
              <button type="submit" ng-click="post()" class="btn btn-primary"
              ng-disabled="clientform.$invalid || in_progress">{{'confirmation.CONFIRMATION_FORM_POST' | translate}}</button>
    </form>
        </p>
    </article>
  </div>
</div>
