<main class="jumbotron" id = 'greetings'>
  <article class="container">
    <header>
    <h1> {{'MAIN_WELCOME_TEXT' | translate}}</h1>
    <header>
    <p>
      {{'MAIN_GREETINGS_TEXT' | translate}}
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/price" role="button" id="main_button">
        <span class="top content">{{'MAIN_ORDER_BUTTON_TOP' | translate}}</span>
        <span class="bottom content">{{'MAIN_ORDER_BUTTON_BOTTOM' | translate}}</span>
      </a>
    </p>
  </article>
</main>
<div class = "container">
  <div class="row">

  </div>
</div>
<div class="container">
  <div class="row">
      <article class="col-md-4">
        <header>
          <h2>{{'MAIN_PRICE_HEADER' | translate}}</h2>
        </header>
          <p>{{'MAIN_PRICE_TEXT' | translate}}</p>
          <p><a class="btn btn-default" href="/price" role="button">
            {{'MAIN_PRICE_BUTTON' | translate}} »
          </a></p>
      </article>

      <article class="col-md-4">
        <header>
          <h2>{{'MAIN_ABOUT_HEADER' | translate}}</h2>
        </header>
          <p>{{'MAIN_ABOUT_TEXT' | translate}}</p>
          <p><a class="btn btn-default" href="/about" role="button">
            {{'MAIN_ABOUT_BUTTON' | translate}} »
          </a></p>
      </article>

      <article class="col-md-4">
        <header>
          <h2>{{'MAIN_FEEDBACK_HEADER' | translate}}</h2>
        </header>
          <p ng-repeat="feedback in data.results">"{{feedback.message}}" ({{feedback.author}})</p>
          <p><a class="btn btn-default" href="/feedback" role="button">
            {{'MAIN_FEEDBACK_BUTTON' | translate}} »
          </a></p>
      </article>
  </div>
</div>
