<main class="jumbotron">
  <article class="container">
    <header>
    <h1> Welcome to Irden site</h1>
    <header>
    <p>
      Hello dear visitor. Here you can get general information about us, our services,
      and place an order or leave feedback.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/price" role="button">Place an order</a>
    </p>
  </article>
</main>
<div class = "container">
  <div class="row">

  </div>
</div>
<div class="container">
  <div class="row">
      <article class="col-md-4">
        <header>
          <h2>Price</h2>
        </header>
          <p>Here you can get general information about our performances</p>
          <p><a class="btn btn-default" href="/price" role="button">View details »</a></p>
      </article>

      <article class="col-md-4">
        <header>
          <h2>About us</h2>
        </header>
          <p>Here you can read general information about our team, and find content about our performances</p>
          <p><a class="btn btn-default" href="/about" role="button">View more »</a></p>
      </article>

      <article class="col-md-4">
        <header>
          <h2>Feedbacks</h2>
        </header>
          <p>"{{data[0].message}}" ({{data[0].author}})</p>
          <p>"{{data[1].message}}" ({{data[1].author}})</p>
          <p>"{{data[2].message}}" ({{data[2].author}})</p>
          <p><a class="btn btn-default" href="/feedback" role="button">Read more »</a></p>
      </article>
  </div>
</div>
