<main class="jumbotron aplha6">
  <article class="container">
    <header>
    <h1  translate="main.MAIN_WELCOME_TEXT"> </h1>
    <header>
    <p translate="main.MAIN_GREETINGS_TEXT">
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/price" role="button" id="main_button">
        <span class="top content" translate="main.MAIN_ORDER_BUTTON_TOP"></span>
        <span class="bottom content" translate="main.MAIN_ORDER_BUTTON_BOTTOM"></span>
      </a>
    </p>
  </article>
</main>
<div class = "container">
  <div class="row">

  </div>
</div>
<div class="container">
  <div class="row">
      <article class="col-md-4">
        <header>
          <h2 translate="main.MAIN_PRICE_HEADER"></h2>
        </header>
          <p translate="main.MAIN_PRICE_TEXT"></p>
          <p><a class="btn btn-default" href="/price" role="button" translate="main.MAIN_PRICE_BUTTON">
            »
          </a></p>
      </article>

      <article class="col-md-4">
        <header>
          <h2 translate="main.MAIN_ABOUT_HEADER"></h2>
        </header>
          <p translate="main.MAIN_ABOUT_TEXT"></p>
          <p><a class="btn btn-default" href="/about" role="button" translate="main.MAIN_ABOUT_BUTTON">
            »
          </a></p>
      </article>

      <article class="col-md-4">
        <header>
          <h2 translate="main.MAIN_FEEDBACK_HEADER"></h2>
        </header>
          <p ng-repeat="feedback in mainCtrl.feedbacks.results">"{{feedback.message}}" ({{feedback.author}})</p>
          <p><a class="btn btn-default" href="/feedback" role="button" translate="main.MAIN_FEEDBACK_BUTTON">
            »
          </a></p>
      </article>
  </div>
</div>
