<div class="container" style="margin-top: 50px;">
  <div class="row">
    <article>
      <header>
        <h1>Prices</h1>
      </header>
        <p>Here you can find detailed information about our prices </p>
    </article>
  </div>

<div class="row">
  <h2>Our detailed prices</h2>
  <p>Here you can find out what we propose, and choose one proposition</p>
  <uib-accordion close-others="oneAtATime">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Choose</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Duration</th>
        <th>Participants</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="program in data">
        <td>
          <a href="confirmation/{{program.id}}" class="btn btn-default">This one!</a>
        </td>
        <td>{{program.name}}</td>
        <td>{{program.cost}}$</td>
        <td>{{program.duration}} min</td>
        <td>{{program.how_many_participants}}</td>
        <td>
        <button type="button" class="form-control btn-default" ng-click="isCollapsed = !isCollapsed">Show/Hide</button>
        <div uib-collapse="isCollapsed">
          <div class="well well-lg">{{program.description}}</div>
        </div>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
</div>
