<div class="container" style="margin-top: 50px;">
  <div class="row">
    <article>
      <header>
        <h1>{{'price.PRICE_MAIN_HEADER' | translate}}</h1>
      </header>
        <p>{{'price.PRICE_MAIN_TEXT' | translate}}</p>
    </article>
  </div>

<div class="row">
  <h2>{{'price.PRICE_DETAIL_HEADER' | translate}}</h2>
  <p>{{'price.PRICE_DETAIL_TEXT' | translate}}</p>
  <uib-accordion close-others="oneAtATime">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{'price.PRICE_TABLE_CHOOSE' | translate}}</th>
        <th>{{'price.PRICE_TABLE_NAME' | translate}}</th>
        <th>{{'price.PRICE_TABLE_COST' | translate}}</th>
        <th>{{'price.PRICE_TABLE_DURATION' | translate}}</th>
        <th>{{'price.PRICE_TABLE_PARTICIPANTS' | translate}}</th>
        <th>{{'price.PRICE_TABLE_DESCRIPTION' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="program in priceCtrl.prices.results">
        <td>
          <a href="confirmation/{{program.id}}" class="btn btn-default">{{'price.PRICE_TABLE_CHOOSE_BUTTON' | translate}}</a>
        </td>
        <td>{{program.name}}</td>
        <td>{{program.cost}}$</td>
        <td>{{program.duration}} min</td>
        <td>{{program.how_many_participants}}</td>
        <td>
        <button type="button" class="form-control btn-default"
                ng-click="priceCtrl.isCollapsed = !priceCtrl.isCollapsed">
                {{'price.PRICE_TABLE_BUTTON' | translate}}
        </button>
        <div uib-collapse="priceCtrl.isCollapsed">
          <div class="well well-lg alpha6">{{program.description}}</div>
        </div>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
</div>
